@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply min-h-full bg-slate-50 text-slate-800;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #64748b #e2e8f0;
}

*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border: 2px solid #e2e8f0;
  border-radius: 9999px;
}
